$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, Sans-serif;
$background-color: #f9f9f9;
$content-background-color: #ffffff; 
$teal: #2c4d52;
$teal-medium: #214045;
$teal-dark: #1a2f30;
$orange: #ee4423;
 
html {
	font-size: 10px;    
}

p {
	font-size: 1.6rem;
    line-height: 2.6rem;
}

a {
	color: $teal-medium;
	&:hover {
		color:$teal-dark;
		text-decoration: underline;
	}
}

h1, h2, h3, h4 {
    font-family: "Roboto";
}

h3 {
	font-size:2.1rem;
}

 
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: $font-stack;
    background-color: #fff;
    font-size: 14px;
    font-size: 2rem; 
    color: #555555;
    text-rendering: optimizeLegibility;
}

section.shadow {
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

body {
    background: $teal;
}

.float-left {
	float:left;
}

.float-right {
	float:right;
}

.clear-fix:after {
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.animation { opacity:0; transition:all 400ms ease-in-out; }

.animation.fade-in { opacity:1; }

header {
    color:#fff;
    padding: 40px 0;
    h2,h3,h4 {
        margin:0px;
    }
}


.content-wrap {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFF;
    padding:35px;
    header {
        background:#fff;
        color:#333;
        padding: 0px;
    }
}

.contact-list {
    ul {
           margin: 20px 0;
          
         
           padding: 0px;
        li {
               list-style:none;
               border-bottom:1px solid #ddd;
               overflow: hidden;
               padding:10px 0;
               div {
                       display:inline-block;
                       padding:15px 10px;
                       vertical-align: text-top;
                   }
                &:last-child {
                    border-bottom:none;
                }
                .thumbnail {
                    position: relative;
                    width: 60px;
                    height: 60px;
                    margin: 0 auto;
                    border-radius: 100%;
                    overflow: hidden;
                    padding:5px;
                    img {
                        width:100%;
                        vertical-align: text-top;
                        display: inline-block;
                       
                    }
                }
            }

       }
}

.contact-info div{

}

.fa-star {
        color: #C7C421;
}
 
@keyframes expand {
    from { width: 0px;}
    to {width: 100px;}
}

@keyframes contract {
    from { width: 100px;}
    to {width: 0px;}
}

span.expanded {
    display:inline-block;
    animation-name: expand;
    animation-duration: 1s;
}

span.contract {
    display:inline-block;
    animation-name: contract;
    animation-duration: 1s;
}



#background {
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden; 
}
.minor-bar:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 150px;
  z-index: -1;
 
}

.minor-bars-wrap {
    margin: 35% 0;
    position: relative;
}

.bar-0:before {
 top: 0px;
 background: $teal-medium;
}

.bar-1:before {
 top: 150px;
 background: $orange;
}

.bar-2:before {
 top: 300px;
 background: $teal-dark;
}

.major-bar {
    position: absolute;
    bottom: -250px;
    height: 500px;
    width: 100%;
    }


.major-bar:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: visible;
  width: 100%;
  height: 500px;
  background: $teal-dark;
  z-index: -1;
}

.skew-negative:before{
    transform: skewY(35deg);
}

.skew-positive:before{
     transform: skewY(-20deg);
}

