<div id="contactList" class="contact-list">
    <section  class="content-wrap">
        <header>

            <div class="serach-bar">
                <form novalidate>
                    Search: <input type="text" ng-model="searchText" />
                </form>
            </div>
        </header>

        <article>

            <ul>
                <li ng-repeat="contact in contacts | orderBy: '-favorite' | filter:searchText track by contact.id">
                    <div class="favorite" ng-click="toggleFavorite($event, contact.id)">
                        <i class="fa fa-star icon" ng-show="contact.favorite"></i>
                        <i class="fa fa-star-o icon" ng-hide="contact.favorite"></i>
                    </div>
                    <div class="thumbnail">
                        <img ng-src="assets/img/{{contact.thumbnail}}" alt="Description" />
                    </div>
                    <div class="contact-name" ng-click="viewContact(contact.id)">
                        <span class="first-name">{{ contact.firstName }}</span>
                        <span class="last-name">{{ contact.lastName }}</span>
                    </div>
                    <div class="contact-options float-right" >
                        <span class="options-expand" ng-click="toggleOptions($event, $index)" aria-label="Toggle ngShow"><i class="fa fa-cog"></i></span>
                        <span class="options-container animate-options delete" hidden="true" aria-hidden="true">
                            <button class="btn btn-warning" ng-click="delete($index, contact)">Delete</button>
                        </span>
                    </div>

                </li>
            </ul>

        </article>
    </section>

   
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Are you sure you want to delete <b>{{ selected.name }}?</b>
            </div>
            <div class="modal-footer align-center">
                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </script>

    </div>
